awscli-local==0.22.2
boto3==1.42.94
botocore==1.42.94
duckdb==1.5.2
greenlet==3.4.0
jmespath==1.1.0
localstack-client==2.11
numpy==2.4.4
pandas==3.0.2
polars==1.40.0
polars-runtime-32==1.40.0
psycopg2-binary==2.9.12
pyarrow==23.0.1
python-dateutil==2.9.0.post0
s3transfer==0.16.1
six==1.17.0
SQLAlchemy==2.0.49
typing_extensions==4.15.0
urllib3==2.6.3
